/* This file satisfy the need for a global place for style variables.
 *
 * Feel free to add your own if they apply to more than 1 element in different places.
 */
@import "~spectre.css/src/variables";

/* Main colors */
$accent-color: #f59f00;
$primary-color: #4c92bd;
$primary-dark-color: #1d3461;
$light-color: #e7ecef;
$inactive-text: #d5d5d6;
$white-color: #ffffff;
$backgorund-banner-color:rgba(37, 19, 102, 0.61);
$dark-color: #333333;

/* Whole project font */
$project-font: Roboto, Helvetica, Arial, sans-serif;
