/* This file satisfy the need for a global place for style variables.
 *
 * Feel free to add your own if they apply to more than 1 element in different places.
 */

/* Related to content showed, like talks and workshops. */
$content-background: #ffffff;
$content-font: 'Roboto';

/* Global colors */
$dark-blue: #1d3461;